<div class='row'>
  <div class='well col-sm-1 text-center'>
    <% if logged_in? %>
      <%= link_to '<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>'.html_safe, vote_post_path(post, vote: true), method: 'post', remote: true %>
      <br>
    <% end %>
    <span id='post_<%= post.id %>_votes'><%= pluralize(post.total_votes, 'vote') %></span>
    <% if logged_in? %>
      <br>
      <%= link_to '<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>'.html_safe, vote_post_path(post, vote: false), method: 'post', remote: true %>
    <% end %>
  </div>
  <div class='well left-side col-sm-10'>
    <p><%= render post.categories %></p>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to "#{post.comments.size} comments", post_path(post) %>
      </span>
    </small>
  </div>
</div>
