<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Postit!', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <div class='btn-group nav_item'>
        <%= link_to '#', class: 'btn btn-default btn-small dropdown-toggle top-heavy', 'data-toggle' => 'dropdown' do %>
          Categories <span class='caret'></span>
        <% end %>
        <ul class='dropdown-menu'>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
          <% if logged_in? %>
            <li class='divider'></li>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Category'.html_safe, new_category_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <% if logged_in? %>
        <div class='nav_item'>
          <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small top-heavy' %>
        </div>
        <div class='nav_item'>
          <%= link_to 'Log out', logout_path, class: 'btn btn-default btn-small top-heavy' %>
        </div>
      <% else %>
        <div class='nav_item'>
          <%= link_to 'Register', register_path, class: 'btn btn-success btn-small top-heavy' %>
        </div>
        <div class='nav_item'>
          <%= link_to 'Login', login_path, class: 'btn btn-default btn-small top-heavy' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
